
.leaflet-container .leaflet-control-search {
    position:relative;
    float:left;
    background:#fff;
    color:#1978cf;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index:1000;
    margin-left: 10px;
    margin-top: 10px;
}
.leaflet-control-search.search-exp {/*expanded*/
    background: #fff;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}
.leaflet-control-search .search-input {
    display:block;
    float:left;
    background: #fff;
    border:1px solid #666;
    border-radius:2px;
    height:22px;
    padding:0 20px 0 2px;
    margin:4px 0 4px 4px;
    min-width: 200px;
    max-width: 200px !important;

}
.leaflet-control-search.search-load .search-input {
    background: url('../images/loader.gif') no-repeat center right #fff;
}
.leaflet-control-search.search-load .search-cancel {
    visibility:hidden;
}
.leaflet-control-search .search-cancel {
    display:block;
    width:22px;
    height:22px;
    position:absolute;
    right:28px;
    margin:6px 0;
    background: url('../images/search-icon.png') no-repeat 0 -46px;
    text-decoration:none;
    filter: alpha(opacity=80);
    opacity: 0.8;
}
.leaflet-control-search .search-cancel:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
.leaflet-control-search .search-cancel span {
    display:none;/* comment for cancel button imageless */
    font-size:18px;
    line-height:20px;
    color:#ccc;
    font-weight:bold;
}
.leaflet-control-search .search-cancel:hover span {
    color:#aaa;
}
.leaflet-control-search .search-button {
    display:block;
    float:left;
    width:30px;
    height:30px;
    background: url('../images/search-icon.png') no-repeat 4px 4px #fff;
    border-radius:4px;
}
.leaflet-control-search .search-button:hover {
    background: url('../images/search-icon.png') no-repeat 4px -20px #fafafa;
}
.leaflet-control-search .search-tooltip {
    position:absolute;
    top:100%;
    float:right;
    list-style: none;
    padding-left: 0;
    max-height:200px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
    background-color: rgba(0, 0, 0, 0.25);
    z-index:1010;
    overflow-y:auto;
    overflow-x:hidden;
    cursor: pointer;
    right: 0;
    min-width: 235px;
    max-width: 235px;
}
.leaflet-control-search .search-tip {
    margin:2px;
    padding:2px 4px;
    display:block;
    color:black;
    background: #eee;
    border-radius:.25em;
    text-decoration:none;
    white-space:nowrap;
    vertical-align:center;
}
.leaflet-control-search .search-button:hover {
    background-color: #f4f4f4;
}
.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
    background-color: #fff;
}
.leaflet-control-search .search-alert {
    cursor:pointer;
    clear:both;
    font-size: 11px;
    /* margin-bottom:5px; */
    padding:0 .25em;
    color: #e00;
    font-weight:bold;
    /* border-radius:.25em; */
    padding: 10px;
}


