#map{
    width: 100%;
    height: 400px;
}
.map{
    height: 400px;margin-bottom: 20px
}


@media(max-width:550px){
    .map{
        height: 70vh;
    }
    #map{
        width: 100%;
        height: 100%;
    }


}
